
  th, td {
    font-size: 18px;
    padding: 10px;
  }
  th {
    background: #555;
    color: rgb(0, 0, 0);
  }
  td {
    background: #eee;
  }
  a {
    text-decoration: none;
    transition: 0.2s ease;
    color: #3f75c5;
  }
  td:nth-child(7) > a {
    color: #c22a2a;
  }
  a:hover {
    opacity: 0.7;
  }
  p {
    font-style: italic;
  }


